<div class="modal logoutModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header"><h4><strong>Logout</strong> <i class="fa fa-lock"></i></h4></div>
            <div class="modal-body"><i class="fa fa-question-circle"></i> <span class="glyphicon glyphicon-question-sign"></span> Are you sure you want to logout?</div>
            <div class="modal-footer"><a href="/logout" class="btn btn-block black-white">Logout <span class="glyphicon glyphicon-log-out"></span></a></div>
        </div>
    </div>
</div>