<div class="col-sm-6">

<table class="table usertable">
  <tr>
    <td><h3>All Users</h3></td>
    <td></td>
  </tr>
  <tr ng-repeat="user in users">
    <td>{{user.username}}</td>
    <td>{{user.local.email}}</td>
    <td>
      <a class="btn btn-primary btn-block" ui-sref="admin.viewUser({id:user.username})">View</a>
      <a class="btn btn-danger  btn-block"  ng-click="deleteUser(user)">Delete</a>
    </td>
  </tr>
</table>
    <a ui-sref="admin.newUser" class="btn-default btn-lg "><i class="glyphicon glyphicon-plus"></i>  Add user</a>
</div>


<div class="col-sm-6">
<div ui-view="" autoscroll='true'></div>
    </div>