<html ng-app="blacktie" class="ng-scope">
    <head>
        <style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}
        .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

        </style>
        <title>The Blacktie placement suite</title>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-cosmo.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/custom.css">
        <style type="text/css">
        body {
        background-color: white;
        padding: 70px;
        }
        </style>
        
    </head>
    <!-- <body ng-controller="MainCtrl"> -->
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a href="#/" class="pull-left"><img src="/favicon.png" height="50px"></a>
                    <a class="navbar-brand" href="#/" style="color: #fff;">&nbsp;The Blacktie placement suite</a>
                </div>
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav ng-scope"  ng-controller="NavCtrl" >
                        <li ng-show="isLoggedIn()">
                            <a href="#" lass="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="ng-binding">
                                <span class="glyphicon glyphicon-user"></span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Edit Profile <i class="glyphicon glyphicon-pencil"></i></a></li>
                            </ul>
                        </li>
                        
                        <li ng-show="isLoggedIn()">
                            <a role="button" data-toggle="dropdown" data-target="#" href="#" style="text-decoration:none;">
                                <span class="glyphicon glyphicon-bell"></span><span class="badge badge-notify ng-binding">6</span><span class="visible-xs-inline">Notifications</span>
                            </a>
                            <ul class="dropdown-menu notifications" role="menu">
                                <div class="notification-heading text-center"><h4 class="menu-title"><span class="glyphicon glyphicon-bell"></span> Notifications</h4>
                            </div>
                            <li class="divider"></li>
                            <div class="notifications-wrapper">
                                <!-- ngRepeat: notification in unreadNotifications --><a class="content ng-scope" href="#notifications/1" ng-repeat="notification in unreadNotifications">
                                <div class="notification-item">
                                    <h4 class="item-title ng-binding">Job invitation from Skava at 20-02-2016</h4>
                                    <p class="item-info ng-binding">You have been invited to take a test for skava</p>
                                </div>
                                </a><!-- end ngRepeat: notification in unreadNotifications --><a class="content ng-scope" href="#notifications/2" ng-repeat="notification in unreadNotifications">
                                <div class="notification-item">
                                    <h4 class="item-title ng-binding">Job invitation from TCS at 20-02-2016</h4>
                                    <p class="item-info ng-binding">You have been invited to take a test for TCS</p>
                                </div>
                                </a><!-- end ngRepeat: notification in unreadNotifications --><a class="content ng-scope" href="#notifications/3" ng-repeat="notification in unreadNotifications">
                                <div class="notification-item">
                                    <h4 class="item-title ng-binding">Exam reminder at 20-02-2016 2 P.M</h4>
                                    <p class="item-info ng-binding">The assessment for Infosys is underway right now</p>
                                </div>
                                </a><!-- end ngRepeat: notification in unreadNotifications --><a class="content ng-scope" href="#notifications/4" ng-repeat="notification in unreadNotifications">
                                <div class="notification-item">
                                    <h4 class="item-title ng-binding">Job invitation from Mindtree at 20-02-2016</h4>
                                    <p class="item-info ng-binding">You have been invited to take a test for Mindtree</p>
                                </div>
                                </a><!-- end ngRepeat: notification in unreadNotifications --><a class="content ng-scope" href="#notifications/6" ng-repeat="notification in unreadNotifications">
                                <div class="notification-item">
                                    <h4 class="item-title ng-binding">Job invitation from Moris at 20-02-2016</h4>
                                    <p class="item-info ng-binding">You have been invited to take a test for Mindtree</p>
                                </div>
                                </a><!-- end ngRepeat: notification in unreadNotifications --><a class="content ng-scope" href="#notifications/4" ng-repeat="notification in unreadNotifications">
                                <div class="notification-item">
                                    <h4 class="item-title ng-binding">Job invitation from Infosys at </h4>
                                    <p class="item-info ng-binding">You have been invited to take a test for Infosys</p>
                                </div>
                                </a><!-- end ngRepeat: notification in unreadNotifications -->
                                <hr>
                                
                            </div>
                            <li class="divider"></li>
                            <div class="notification-footer text-center"><a href="#/notifications/all" class="menu-title">View all<i class="glyphicon glyphicon-circle-arrow-right"></i></a></div>
                        </ul>
                    </li>
                    
                    <li ng-show="isLoggedIn()">
                        <a role="button" data-toggle="dropdown" data-target="#" href="#" style="text-decoration:none;">
                            <span class="glyphicon glyphicon-envelope"></span><span class="badge badge-notify ng-binding">3</span><span class="visible-xs-inline">Messages</span></a>
                            <ul class="dropdown-menu notifications" role="menu">
                                <div class="notification-heading text-center"><h4 class="menu-title"><span class="glyphicon glyphicon-envelope"></span> Messages</h4>
                            </div>
                            <li class="divider"></li>
                            <div class="notifications-wrapper">
                                <!-- ngRepeat: message in unreadMessages -->
                                <a class="content ng-scope" href="#messages/1" ng-repeat="message in unreadMessages">
                                    <div class="notification-item">
                                        <h4 class="item-title ng-binding"><i class="glyphicon glyphicon-chevron-right white-black"></i> Mindtree HR - Shortlisted for mindtree at 20-02-2016 </h4>
                                        <p class="item-info ng-binding">Congratulations for being shortlisted for a personal interview for mindtree</p>
                                        <div class="divider"></div>
                                    </div>
                                    </a><!-- end ngRepeat: message in unreadMessages --><a class="content ng-scope" href="#messages/2" ng-repeat="message in unreadMessages">
                                    <div class="notification-item">
                                        <h4 class="item-title ng-binding"><i class="glyphicon glyphicon-chevron-right white-black"></i> Skava HR - Shortlisted for Skava at 20-02-2016 </h4>
                                        <p class="item-info ng-binding">Congratulations for being shortlisted for a personal interview for Skava</p>
                                        <div class="divider"></div>
                                    </div>
                                    </a><!-- end ngRepeat: message in unreadMessages --><a class="content ng-scope" href="#messages/3" ng-repeat="message in unreadMessages">
                                    <div class="notification-item">
                                        <h4 class="item-title ng-binding"><i class="glyphicon glyphicon-chevron-right white-black"></i> Admin - Password reset request at 18-02-2016 </h4>
                                        <p class="item-info ng-binding">Your password reset was successful</p>
                                        <div class="divider"></div>
                                    </div>
                                    </a><!-- end ngRepeat: message in unreadMessages -->
                                    
                                </div>
                                <li class="divider"></li>
                                <div class="notification-footer text-center"><a href="#messages/all" class="menu-title">View all<i class="glyphicon glyphicon-circle-arrow-right"></i></a></div>
                            </ul>
                        </li>
                        <li ng-show="isLoggedIn()"><a href="#" ng-click="logOut()"><span class="glyphicon glyphicon-log-out"></span>&nbsp; <span class="visible-xs-inline">Logout</span></a>
                        </li><li ng-hide="isLoggedIn()" class="ng-hide"><a href="/#/login">Log In</a></li>
                        
                        
                        
                    </ul>
                    
                </div>
            </div>
        </nav>
        <div class="container">
            <!-- uiView:  --><!-- <div ui-view="" class="ng-scope"></div> -->
            <div class="row ng-scope" style="padding-bottom: 20px;">
                <div class="col-sm-10"><h1>Welcome, <div ng-model="student.fname" class="ng-pristine ng-untouched ng-valid"></div></h1></div>
                
                <div class="col-sm-offset-1 dp-container pull-right">
                    <a href="#/profilepic"><img src="/images/profile.jpg" title="profile image" width="80px" class="img-rounded img-responsive">
                        <span class="cpic text-center">
                            <i class="glyphicon glyphicon-pencil"></i>
                            Edit
                        </span>
                    </a>
                    
                    
                    
                    
                </div>
                
            </div>
            <div class="row ng-scope">
                <div class="col-sm-3"><!--left col-->
                
                <ul class="list-group">
                    <li class="list-group-item"><i class="glyphicon glyphicon-user"></i> <span class="text-muted">Profile</span></li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>First Name</strong></span> Bharath</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Last Name</strong></span> B</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Department</strong></span> CSE</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>CGPA</strong></span> 7.33</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Backlogs</strong></span> <span class="text-success">None</span></li>
                    <li class="list-group-item text-right">
                        <button class="btn btn-block btn-primary btn-black" data-toggle="modal" data-target='#modal-id'>
                        Edit
                        <i class="glyphicon glyphicon-pencil"></i>
                        </button>
                    </li>
                    
                </ul>
                
                <!--  <div class="panel panel-black">
                    <div class="panel-heading"><i class="fa fa-link fa-1x"></i>  Linkedin Profile </div>
                    <div class="panel-body"><a href="#"><img src="/images/connect-linkedin.png"></a></div>
                </div> -->
                <div class="well bg-white">
                    <a href="#/student/connect-linkedin"><img src="/images/connect-linkedin.png"> </a>
                </div>
                
                
                
                
                <!--     <ul class="list-group">
                    <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78</li>
                </ul>
                
                <div class="panel panel-default ">
                    <div class="panel-heading">Social Media</div>
                    <div class="panel-body">
                        <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i>
                        <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i>
                        <i class="fa fa-google-plus fa-2x"></i>
                    </div>
                </div>
                -->
                </div><!--/col-3-->

                <div class="col-sm-9" ng-controller="StudentTabCtrl as StudentTabCtrl">
                    <!-- Insert tab data here -->
                    <uib-tabset active="activeForm">
                      
                     
                      <uib-tab index="0" heading="Job Invitations {{unreadNotifications.length }}" >
                         
                        <ul class="list-group" ng-controller="NotificationCtrl as NotificationCtrl" >
                            <li class="list-group-item text-muted">Notifications</li>
                            <li class="list-group-item text-right" ng-repeat="notification in NotificationCtrl.unreadNotifications">
                                <a href="#" class="pull-left"> {{notification.title}}</a>
                                {{notification.date}} &nbsp; 
                                <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">
                                View
                                </button>
                            </li>
                        </ul>   
                      </uib-tab>
                       <uib-tab index="1" heading="Messages {{unreadMessages.length }}" >
                            
                            <ul class="list-group" ng-controller="MessageCtrl as MessageCtrl" >
                                <li class="list-group-item text-muted">Inbox</li>
                                <li class="list-group-item text-right" ng-repeat="message in MessageCtrl.unreadMessages">
                                    <a href="#" class="pull-left"> {{message.subject}}</a>
                                    {{message.date}} &nbsp;
                                    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">
                                    Read
                                    </button>
                                </li>
                            </ul>
                      </uib-tab>
                      
                    </uib-tabset>
                  
                    <!-- Insert tab data here end-->
                    </div><!--/col-9-->
                    </div>  <!--/row-->
                    
                    
                    
                    <!-- Modals -->
                    <!-- Message modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">{{ message.title}}</h4>
                                </div>
                                <div class="modal-body">
                                    {{message.body}}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-success"> Accept </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Edit profile Modal -->
                    <div class="modal fade" id="modal-id">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">Edit Profile</h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form ng-pristine ng-valid" action="#" method="post" id="registrationForm">
                                        <div class="form-group">
                                            <div class="col-xs-6">
                                                <label for="first_name"><h4>First name</h4></label>
                                                <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name if any.">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            
                                            <div class="col-xs-6">
                                                <label for="last_name"><h4>Last name</h4></label>
                                                <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name" title="enter your last name if any.">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            
                                            <div class="col-xs-6">
                                                <label for="phone"><h4>Phone</h4></label>
                                                <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <div class="col-xs-6">
                                                <label for="mobile"><h4>Mobile</h4></label>
                                                <input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number" title="enter your mobile number if any.">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            
                                            <div class="col-xs-6">
                                                <label for="email"><h4>Email</h4></label>
                                                <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            
                                            <div class="col-xs-6">
                                                <label for="email"><h4>Location</h4></label>
                                                <input type="email" class="form-control" id="location" placeholder="somewhere" title="enter a location">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            
                                            <div class="col-xs-6">
                                                <label for="password"><h4>Password</h4></label>
                                                <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            
                                            <div class="col-xs-6">
                                                <label for="password2"><h4>Verify</h4></label>
                                                <input type="password" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2.">
                                            </div>
                                        </div>
                                        <!-- <div class="form-group">
                                            <div class="col-xs-12">
                                                <br>
                                                <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                                <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                                            </div>
                                        </div> -->
                                    </form>
                                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-default">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>

                 

                </div>
                <script type="text/javascript" src="/javascripts/angular.js"></script>
                <script type="text/javascript" src="/javascripts/angular-resource.js"></script>
                <script type="text/javascript" src="/javascripts/angular-ui-router.js"></script>
                <script type="text/javascript" src="/javascripts/angular-animate.min.js"></script>
                <script type="text/javascript" src="/javascripts/ui-bootstrap.min.js"></script>
                <script type="text/javascript">
                var app = new angular.module('blacktie', ['ui.router','ngResource','ui.bootstrap','ngAnimate']);

                    // Ignore below code
                    app.controller('NavCtrl', [
                    '$scope',
                    function($scope ) {
                    $scope.isLoggedIn = function(){return true};
                    $scope.username = "Selva";
                    
                    console.log("NavCtrl Called");
                    // This controller controls the navbar buttons and menus
                    
                    // $scope.username = user.username;
                    $scope.unreadMessages = [{
                        "id": 1,
                        "subject": "Shortlisted for mindtree",
                        "from": "Mindtree HR",
                        "date": "20-02-2016",
                        "body": "Congratulations for being shortlisted for a personal interview for mindtree"
                        }, {
                        "id": 2,
                        "subject": "Shortlisted for Skava",
                        "from": "Skava HR",
                        "date": "20-02-2016",
                        "body": "Congratulations for being shortlisted for a personal interview for Skava"
                        }, {
                        "id": 3,
                        "subject": "Password reset request",
                        "from": "Admin",
                        "date": "18-02-2016",
                        "body": "Your password reset was successful"
                        }];
                        $scope.unreadNotifications = [{
                        "id": 1,
                        "title": "Job invitation from Skava",
                        "date": "20-02-2016",
                        "body": "You have been invited to take a test for skava"
                        }, {
                        "id": 2,
                        "title": "Job invitation from TCS",
                        "date": "20-02-2016",
                        "body": "You have been invited to take a test for TCS"
                        }, {
                        "id": 3,
                        "title": "Exam reminder",
                        "date": "20-02-2016 2 P.M",
                        "body": "The assessment for Infosys is underway right now"
                        }, {
                        "id": 4,
                        "title": "Job invitation from Mindtree",
                        "date": "20-02-2016",
                        "body": "You have been invited to take a test for Mindtree"
                        }, {
                        "id": 6,
                        "title": "Job invitation from Moris",
                        "date": "20-02-2016",
                        "body": "You have been invited to take a test for Mindtree"
                    }];
                    
                    }
                ]);
                </script>

                <script type="text/javascript">

                    app.controller('MessageCtrl', [
                    '$scope',
                    function($scope ) {
                    
                    console.log("MessageCtrl Called");
                    // This controller controls the navbar buttons and menus
                    
                    // $scope.username = user.username;
                    $scope.unreadMessages = [{
                            "id": 1,
                            "subject": "Shortlisted for mindtree",
                            "from": "Mindtree HR",
                            "date": "20-02-2016",
                            "body": "Congratulations for being shortlisted for a personal interview for mindtree"
                            }, {
                            "id": 2,
                            "subject": "Shortlisted for Skava",
                            "from": "Skava HR",
                            "date": "20-02-2016",
                            "body": "Congratulations for being shortlisted for a personal interview for Skava"
                            }, {
                            "id": 3,
                            "subject": "Password reset request",
                            "from": "Admin",
                            "date": "18-02-2016",
                            "body": "Your password reset was successful"
                            }];
                            
                        
                        }
                    ]);
                    

                </script>
    

                <script>
                    app.controller('NotificationCtrl', [
                        '$scope',
                        function($scope ) {
                                                
                        console.log("NotificationCtrl Called");
                    
                            $scope.unreadNotifications = [{
                            "id": 1,
                            "title": "Job invitation from Skava",
                            "date": "20-02-2016",
                            "body": "You have been invited to take a test for skava"
                            }, {
                            "id": 2,
                            "title": "Job invitation from TCS",
                            "date": "20-02-2016",
                            "body": "You have been invited to take a test for TCS"
                            }, {
                            "id": 3,
                            "title": "Exam reminder",
                            "date": "20-02-2016 2 P.M",
                            "body": "The assessment for Infosys is underway right now"
                            }, {
                            "id": 4,
                            "title": "Job invitation from Mindtree",
                            "date": "20-02-2016",
                            "body": "You have been invited to take a test for Mindtree"
                            }, {
                            "id": 6,
                            "title": "Job invitation from Moris",
                            "date": "20-02-2016",
                            "body": "You have been invited to take a test for Mindtree"
                        }];
                        
                        }
                    ]);
                </script>

    

                <script type="text/javascript">

                    app.controller('StudentTabCtrl', function ($scope, $window) {
                                          
                       
                    });


                </script>

                <script type="text/javascript">
                    app.controller('StudentHomeCtrl', [
                        '$scope',
                        function($scope ) {
                                                
                        console.log("StudentHomeCtrl Called");
                    
                            $scope.newsFeed = [{
                            "id": 1,
                            "title": "Job invitation from Skava",
                            "date": "20-02-2016",
                            "body": "You have been invited to take a test for skava",
                            "status":"Invited"
                            }, {
                            "id": 2,
                            "title": "Job invitation from TCS",
                            "date": "20-02-2016",
                            "body": "You have been invited to take a test for TCS",
                            "status":"Attended"
                            }, {
                            "id": 3,
                            "title": "Exam reminder",
                            "date": "20-02-2016 2 P.M",
                            "body": "The assessment for Infosys is underway right now",
                            "status":"Invited"
                            }, {
                            "id": 4,
                            "title": "Job invitation from Mindtree",
                            "date": "20-02-2016",
                            "body": "You have been invited to take a test for Mindtree",
                            "status":"Not elligible"
                            }];
                        
                        }
                    ]);

                </script>

                <script type="text/javascript">
                    app.controller('studentUpdateProfileCtrl', function ($scope, $uibModal, $log) {

                      $scope.items = ['item1', 'item2', 'item3'];

                      $scope.animationsEnabled = true;

                      $scope.open = function (size) {

                        var modalInstance = $uibModal.open({
                          animation: $scope.animationsEnabled,
                          templateUrl: 'update-student-profile-modal.html',
                          controller: 'ModalInstanceCtrl',
                          size: size,
                          resolve: {
                            items: function () {
                              return $scope.items;
                            }
                          }
                        });

                        modalInstance.result.then(function (selectedItem) {
                          $scope.selected = selectedItem;
                        }, function () {
                          $log.info('Modal dismissed at: ' + new Date());
                        });
                      };

                      $scope.toggleAnimation = function () {
                        $scope.animationsEnabled = !$scope.animationsEnabled;
                      };

                    });

                    app.controller('ModalInstanceCtrl', function ($scope, $uibModalInstance, items) {

                      $scope.items = items;
                      $scope.selected = {
                        item: $scope.items[0]
                      };

                      $scope.ok = function () {
                        $uibModalInstance.close($scope.selected.item);
                      };

                      $scope.cancel = function () {
                        $uibModalInstance.dismiss('cancel');
                      };
                    });
                        



                </script>


                   <!-- UI.Bootstrap Edit Profile Modal -->
                    <div ng-controller="studentUpdateProfileCtrl">

                        <button type="button" class="btn btn-default" ng-click="open()">Open me!</button>
                        <button type="button" class="btn btn-default" ng-click="open('lg')">Large modal</button>
                        <button type="button" class="btn btn-default" ng-click="open('sm')">Small modal</button>
                        <button type="button" class="btn btn-default" ng-click="toggleAnimation()">Toggle Animation ({{ animationsEnabled }})</button>
                        <div ng-show="selected">Selection from a modal: {{ selected }}</div>
                    </div>

                    <!-- UI.Bootstrap Edit Profile Modal End -->

            </body>
        </html>